@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Conversion APP</h1>
    <h3>Navigate to "Roman to Arabic" tab to begin conversion</h3>
</div>
